body{
    color: aliceblue;
}
ul{
    width:100%;
}
ul li{
    height:50px;
}
ul li span{
    color:red;
}


ul{
    width:100%;
    li{
        height:40px;
        span{
            color:red;
        }
    }
}